---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: true
BreakBeforeBraces: Linux
ColumnLimit: 78
ContinuationIndentWidth: 8
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 2
SortIncludes: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpacesBeforeTrailingComments: 2
UseTab: Never

...
