---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: true
BreakBeforeBraces: Linux
ColumnLimit: 78
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
SortIncludes: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
UseTab: Never

...
