[submodule "tests/tools/Catch2"]
	path = tests/tools/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "tests/tools/trompeloeil"]
	path = tests/tools/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://gitlab.com/aminosbh/sdl2-cmake-modules.git
